<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>脊椎骨检测系统</title>
    <!-- Bootstrap core CSS -->
    <link href="/templates/css/bootstrap.min-teeth.css" rel="stylesheet">
    <link rel="stylesheet" href="/templates/css/loading.css">


</head>

<body>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <br/>
                        <h3 class="text-muted" style="text-align:center">脊椎骨检测系统</h3>
            <br/>
            <div class="row-fluid">
                <div class="col-md-12 ">
                    <form id="uploadForm10" enctype="multipart/form-data" action="/get_teeth_pic">
                        <div>
                            <label for="file10" class=" btn btn-primary">选择图片</label>

                            <input type="file" class="info" name="file10" id="file10" value="" style="display:none">
                            <br/>
                        </div>
                    </form>
                    <br/>
                </div>

                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading" style="height: 40px">
                            <h3 class="panel-title" style="float: left">
                                原图
                            </h3>
                            <h3 class="panel-title" style="float: right">
                                检测结果
                            </h3>
                        </div>
                        <div class="panel-body" id="div_js10" style="height:400px; width: 100%;overflow:auto;">
                            <img id="img11" src="http://101.6.64.182/images/teeth_detection/3001033097-4_result.jpg" style="float: left;height: 370px;width: 40%"/>
                            <img id="img12" src="http://101.6.64.182/images/teeth_detection/3000949223-4_result.jpg" style="float: right;height: 370px;width: 40%"/>
                        </div>
                    </div>
                </div>




            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</div>
    <script src="/templates/js/jquery-3.3.1.min-teeth.js"></script>
    <script src="/templates/js/bootstrap.min-teeth.js"></script>
    <script src="/templates/js/backbone.js"></script>
    <script src="/templates/js/jquery-1.11.2.js"></script>
    <script src="/templates/js/loading.js"></script>

</body>
</html>