<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>XXX系统</title>
    <!-- Bootstrap core CSS -->
    <link href="/templates/css/bootstrap.min-teeth.css" rel="stylesheet">


</head>

<body>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <br/>
            {#            <h3 class="text-muted"><a href="http://127.0.0.1:5000/"> XXX系统</a></h3>#}
            <div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="/index">首页</a>
                    </li>
                    <li>
                        <a href="/second">方案</a>
                    </li>
                </ul>
            </div>
            <br/>
            <div class="row-fluid">
                <div class="col-md-12 ">
                    <form id="uploadForm" enctype="multipart/form-data" action="/get_desc">
                        <div>
                            <label for="file" class=" btn btn-primary">上传文件</label>

                            <input type="file" class="info" name="file" id="file" value="" style="display:none">
                            <br/>
                        </div>
                    </form>
                    <br/>
                </div>

                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                输入数据
                            </h3>
                        </div>
                        <textarea class="panel-body" style="height:400px; width: 100%;overflow:auto;" id="desc_text">

                        </textarea>
                    </div>
                </div>

                <div class="col-md-12">
                    <form id="uploadForm2" enctype="multipart/form-data" action="">
                        <div>
                            <label for="button" class=" btn btn-primary" style="margin-bottom: 30px;">结构化</label>

                            <input type="button" class="info" name="button" id="button" value="" style="display:none">
                            <br/>
                        </div>
                    </form>
                    <table class="table table-bordered table-hover" id="desc_table">
                        <thead>
                        <tr class="danger">
                            <th>
                                牙位
                            </th>
                            <th>
                                文本
                            </th>
                            <th>
                                属性
                            </th>
                            <th>
                                属性值
                            </th>
                            <th>
                                说明
                            </th>
                            <th>
                                标记
                            </th>
                        </tr>
                        </thead>
                        <tbody id="table_body">
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</div>
    <script src="/templates/js/jquery-3.3.1.min-teeth.js"></script>
    <script src="/templates/js/bootstrap.min-teeth.js"></script>
    <script src="/templates/js/index.js"></script>

</body>
</html>