<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>固定义齿自动设计系统</title>
    <!-- Bootstrap core CSS -->
    <link href="/templates/css/bootstrap.min-teeth.css" rel="stylesheet">

</head>

<body>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <br/>
            <div>
                <ul class="nav nav-tabs">
				<li >
					<a href="/index">首页</a>
				</li >
				<li class="active">
					<a href="#">方案</a>
				</li>
			</ul>
            </div>
            <br/>
            <div class="row-fluid">
                <br/>
                 <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                输入数据
                            </h3>
                        </div>
                        <textarea class="panel-body" style="height:400px; width:100%;overflow:auto;" id="desc_text">

                        </textarea>
                    </div>
                </div>
            </div>
        <br/><div class="col-md-12" >
            <form id="uploadForm3" enctype="multipart/form-data" action="">
                <div>
                    <label for="button" class=" btn btn-primary" style="margin-bottom: 30px;">展示结果</label>
                    <input type="button" class="info" name="button" id="button" value="" style="display:none">
                    <br/>
                </div>
            </form>
            <br/>
            <div class="col-md-12" id="desc_picture">
                <br/>
{#                <div class="col-md-4">#}
{#                     <img  class="img-thumbnail" src="static/img/1.png"/>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <img  class="img-thumbnail" src="static/img/1.png"/>#}
{#                </div>#}
{#               <div class="col-md-4">#}
{#                     <img  class="img-thumbnail" src="static/img/1.png"/>#}
{#                </div>#}

            </div>
      <div class="panel panel-default">

                        <div class="panel-heading">
                            <h3 class="panel-title">
                                方案
                            </h3>
                        </div>
                        <textarea class="panel-body" style="height:400px; width: 100%;overflow:auto;" id="plan">
{#
                        </textarea>
                    </div>
                </div>



        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/templates/js/jquery-3.3.1.min-teeth.js"></script>
<script src="/templates/js/bootstrap.min-teeth.js"></script>
<script src="/templates/js/second.js"></script>
</body>
</html>